*{
    margin: 0;
    padding: 0;
}
#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
    margin-left: 7%;
}
#subtitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey;
    margin-left: 10%;
}
#check {
    display: inline-block;
}
fieldset{
    border: 0;
}
body{
    background-color: rgb(236, 255, 184);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: darkslategrey;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: darkslategray;
    border-radius: 5px;
}
.grupo:before, .grupo:after {
    display: table;
}
.grupo:after {
    clear: both;
}
.campo{
    margin-bottom: 1em;
}
.campo label{
    margin-bottom: 0.2em;
    color: darkslategray;
    display: block;
}
fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid darkslategrey;
    box-shadow: 2px 2px 2px darkslategray;
    display: block;
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: rgba(187, 204, 139, 0.884);
}
.botao{
    font-size: 1.2em;
    background: rgba(187, 204, 139, 0.884);
    border: 0;
    margin-bottom: 1em;
    color: darkslategray;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px darkslategray;
    text-shadow: 1px 1px 1px darkolivegreen;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.botao:hover{
    background-color: rgba(187, 204, 139, 0.884);
    box-shadow: inset 2px 2px 2px darkolivegreen;
    text-shadow: darkslategray;
    color: darkolivegreen;
}
.botao, select{
    cursor: pointer;
}